$header-image: url(../img/m-h-night.jpg);
$header-color:white;
$header-text-color:white;
$main-heading-color:white; 
$button-color:#e3ac00;
$grad-color:#922b53;
$main-color: #3b3f50;
$body-bg-color: #21232e;
$banner-heading-color: white;
$colorHighlight: #ff4e33;
$z-layer: (
  default: 1,
  marker: -1
);