$header-image: url(../img/m-h-day.jpg);
$header-color:#21232e;
$header-text-color:#30302d;
$main-heading-color:#21232e; 
$main-color: #21232e;
$button-color:#699900;
$grad-color:#2e5cd5;
$body-bg-color: white;
$banner-heading-color: #21232e;
$colorHighlight: #14a0c7;
$z-layer: (
  default: 1,
  marker: -1
);